@model RestaurantAGV.MVC.Models.Elements.OrderCard

<div class="orderCardContainer">
    <h3 class="text-center">@Model.Id</h3>
    <span class="dangerFont d-block text-center">This has orderd @Model.PassedTime m ago</span>
    <div class="row">
        <div class="col">
            <span class="colorFontI CardDetailFont">@Model.TotalPrice.ToString("C")</span>
        </div>
        <div class="col">
            <span class="colorFontI CardDetailFont">@Model.TableAddress</span>
        </div>
        <div class="col colorFontI">
            <span class="colorFontI CardDetailFont">@Model.Status</span>
        </div>

    </div>
</div>