@model RestaurantAGV.MVC.Models.Customer.MenuDetailModel

<div class="container">

    <div class="row">
        <div class="col-lg">
            <img class="img-fluid rounded shadow" src="@Model.UriImage">
            <a asp-controller="Customer" asp-action="Menu" class="btnMenu mt-2 mb-5">Back to menu</a>
        </div>
        <div class="col-lg">
            <p class="mainTitleFont text-center my-2">@Model.NameMenu</p>
            <p class="mainTitleFont text-center my-2">@Model.Price.ToString("C")</p>
            <p class="descriptionFont my-5">@Model.Description</p>
            <div class="my-5 text-center">
                <form method="get" class="d-inline-block">
                    <input type="number" step="1" value="@Model.Id" name="quantity" class="form-control" style="width: 100px; text-align: center;">
                </form>
            </div>
            <a asp-action="Basket" class="mainBtn">Add to cart</a>
        </div>

    </div>

</div>